<div class="container" ng-show="inProgress">
	<div class="row">
		<div class="col-md-12">

			<div ng-show="!quizEnd">
				<h2>{{name}}</h2>
				<img ng-src="/app/assets/{{img}}">
				<p>Kcal:</p><input type="number" ng-model="macro1">
				<p ng-show="!answerMode">{{Res[0]}}</p>
				<p>Białko:</p><input type="number" ng-model="macro2">
				<p ng-show="!answerMode">{{Res[1]}}</p>
				<p>Węglowodany:</p><input type="number" ng-model="macro3">
				<p ng-show="!answerMode">{{Res[2]}}</p>
				<p>Tłuszcz:</p><input type="number" ng-model="macro4">
				<p ng-show="!answerMode">{{Res[3]}}</p>
				<button ng-click="check()" ng-show="answerMode">Submit</button>
			
				<div ng-show="!answerMode">
					<button ng-click="nextQuestion()">Next</button>
				</div>
			</div>

			<div ng-show="quizEnd">
				<button ng-click="reset()">Play again</button>
			</div>

		</div>
	</div>
</div>

<div class="container" ng-show="!inProgress">
	<div class="row">
		<button ng-click="start()">Start</button>
	</div>
</div>
