<div class="container" ng-show="c.inProgress">
	<div class="flip" ng-show="!c.quizEnd"> 
		<div class="card" ng-class="{'flipped':isFlipped}">
			<div class="face front"> 
				<form name="c.MacroForm">
					<h2>{{c.name}}</h2>
					<img ng-src="/assets/{{c.img}}">
					<p>Kcal:</p><input type="number" ng-model="c.macro1">
					<p>Białko:</p><input type="number" ng-model="c.macro2">
					<p>Węglowodany:</p><input type="number" ng-model="c.macro3">
					<p>Tłuszcz:</p><input type="number" ng-model="c.macro4">
					<button class="nextBtn" ng-click="isFlipped=!isFlipped; c.check();" ng-show="c.answerMode">Submit</button>
				</form>
			</div> 
			<div class="face back"> 
				<h2>{{c.name}}</h2>
				<img ng-src="/assets/{{c.img}}">
				<p>Kcal: {{c.macro1}}kcal to {{c.Res[0]}}</p>
				<p>Białko: {{c.macro2}}g białka to {{c.Res[1]}}</p>
				<p>Węglowodany: {{c.macro3}}g węglowodanów to {{c.Res[2]}}</p>
				<p>Tłuszcz: {{c.macro4}}g tłuszczu to {{c.Res[3]}}</p>
				<button class="text-center nextBtn" ng-click="isFlipped=!isFlipped; c.nextQuestion()">Next</button>
			</div> 
		</div> 
	</div>
	<div class="container" ng-class="{ 'start__outer' : c.quizEnd }">
		<div ng-show="c.quizEnd" class="midButton midButton--fin">
			<div class="midButton--white">
				<h3>Twoje makro na koniec dnia:</h3>
				<p>Kalorie: {{c.result[0]}}</p>
				<p>Białko: {{c.result[1]}}</p>
				<p>Węglowodany: {{c.result[2]}}</p>
				<p>Tłuszcze: {{c.result[3]}}</p>
				<h1>Mistrz Makro</h1>
				<button ng-click="c.reset()">Play again</button>
			</div>
		</div>
	</div>
</div>

<div class="container" ng-class="{ 'start__outer' : !c.inProgress }">
	<div class="midButton" ng-show="!c.inProgress">
		<div class="midButton--white">
			<h1>Mistrz Makro</h1>
			<button ng-click="c.start()">Start</button>
		</div>
	</div>
</div>



